<ion-header>
  <ion-toolbar>
    <ion-title>BREAKTIME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="timer-container">
    <div class="timer-box">
      <ion-input
        type="number"
        maxlenght="2"
        min="00"
        [value]="minutosPantalla"
        [disabled]="enEjecucion"
        (ionInput)="cambiarMinutos($event)"
        class="timer-input">
      </ion-input>

      <span>:</span>

      <ion-input
        type="number"
        maxlength="2"
        min="00"
        max="59"
        [value]="segundosPantalla"
        [disabled]="enEjecucion"
        (ionInput)="cambiarSegundos($event)"
        class="timer-input">
      </ion-input>
    </div>
    <p>{{ enEjecucion ? 'Corriendo...' : 'Toca los minutos para editar' }}</p>
  </div>

  <div class="button-group">
    <ion-button (click)="iniciarTimer()" fill="outline" class="action-btn">Iniciar</ion-button>
    <ion-button (click)="pausarTimer()" fill="outline" class="action-btn">Pausar</ion-button>
    <ion-button (click)="reiniciarTimer()" fill="outline" class="action-btn" >Reiniciar</ion-button>
  </div>
</ion-content>